* {
    font-family: "Open Sans", sans-serif;   
    color: #333;
}

.body {
    background-color:#EEEEEE;
}

.input-desc {
    font-size: 15px;
}

.input {
    width: 50px;
    text-align: center;
}

/* This is literally just for a single ':'; I know it's kinda ridiculous */
.colon {
    display:inline;
    font-size: 15px
}

.submit {
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}
