* {
    font-family: "Open Sans", sans-serif;  
    margin: auto;
    text-align: center;
}

header {
    color: #0ad8c4;
    font-size: 300%;
    width: 18%;
    padding: 10px;
}

.per-site {
    color: #0ad8c4;
    font-size: 250%;
    padding: 10px;
}

body {
    /* background-color:#EEEEEE; */
    background-color:#212121;
}

.input-desc {
    color: #FFFFFF;
    font-size: 18px;
    display: inline;
}

.website {
    width: 175px;

    /* Rounded corners */
    border-radius: 5px;
    border: 0;
}

.per-site-field {
    width: 50px;

    /* Rounded corners */
    border-radius: 5px;
    border: 0;
}

input {
    width: 50px;
    padding: 8px;

    /* Rounded corners */
    border-radius: 5px;
    border: 0;
}

/* This is literally just for a single ':'; I know it's kinda ridiculous */
.colon {
    color: #FFFFFF;
    display: inline;
    font-size: 20px;
    /* padding: 2px; */
    /* margin-right: .5px; */
}

/* Submit button */
input[type=submit] {
    cursor: pointer;

    /* Rounded corners */
    border-radius: 5px;
    border: 0;

    /* Keep it small */
    width: 80px;
    height: 35px;

    /* Match icon background */
    background: #0ad8c4;
}

.add {
    cursor: pointer;

    /* Rounded corners */
    border-radius: 5px;
    border: 0;

    /* Match icon background */
    background: #0ad8c4;
}
